/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#codevelopment-view .view-content .view-main {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%; }
  #codevelopment-view .view-content .view-main .carousel {
    height: 100%;
    width: 100%; }
    #codevelopment-view .view-content .view-main .carousel .flickity-viewport {
      height: 100%; }
      #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider {
        height: 100%; }
        #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          overflow: hidden;
          position: relative;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          z-index: auto;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          height: 100%; }
          #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell#codevelopment-view__slide1 {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; }
            #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell#codevelopment-view__slide1 .carousel-cell-desc ul {
              text-transform: none; }
              #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell#codevelopment-view__slide1 .carousel-cell-desc ul li {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: baseline;
                    -ms-flex-align: baseline;
                        align-items: baseline; }
                #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell#codevelopment-view__slide1 .carousel-cell-desc ul li::before {
                  display: block;
                  content: "";
                  width: 25px;
                  height: 2px;
                  margin-right: 7px;
                  background: #ffdc00; }
          #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell#codevelopment-view__slide2 {
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end; }
            #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell#codevelopment-view__slide2 .carousel-cell-desc {
              width: 45%;
              text-align: right; }
              html[data-prestige="false"] #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell#codevelopment-view__slide2 .carousel-cell-desc {
                width: 55%; }
          #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell img {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: 0;
            z-index: auto;
            visibility: inherit;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover; }
          #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell .carousel-cell-desc {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            overflow: hidden;
            position: relative;
            top: 0;
            right: auto;
            bottom: auto;
            left: 2;
            z-index: auto;
            visibility: inherit;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            padding: 70px;
            height: 100%; }
            #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell .carousel-cell-desc p {
              font-size: 20px;
              text-transform: none; }
              #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell .carousel-cell-desc p.small {
                font-size: 13px; }
            #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell .carousel-cell-desc ul {
              list-style: none;
              padding: 0;
              font-size: 20px; }
              #codevelopment-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell .carousel-cell-desc ul li {
                margin-left: 0; }
    #codevelopment-view .view-content .view-main .carousel .flickity-page-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 4px;
      width: 100%;
      padding: 0;
      overflow: hidden;
      position: absolute;
      top: 45px;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      pointer-events: none; }
      #codevelopment-view .view-content .view-main .carousel .flickity-page-dots .dot {
        width: 60px;
        height: 2px;
        pointer-events: auto;
        background: white;
        opacity: 1;
        padding: 0;
        margin: 0 0 0 10px;
        border-radius: 0;
        -webkit-transition: background 0.2s ease, -webkit-transform 0.2s ease;
        transition: background 0.2s ease, -webkit-transform 0.2s ease;
        transition: background 0.2s ease, transform 0.2s ease;
        transition: background 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
        will-change: background, transform;
        -webkit-transform-origin: center bottom;
                transform-origin: center bottom; }
        #codevelopment-view .view-content .view-main .carousel .flickity-page-dots .dot:first-child {
          margin: 0; }
        #codevelopment-view .view-content .view-main .carousel .flickity-page-dots .dot.is-selected {
          pointer-events: none;
          -webkit-transform: scaleY(2);
                  transform: scaleY(2);
          background: #ffdc00; }

#codevelopment-view__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px; }
  #codevelopment-view__timeline .codevelopment-view__timeline-step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: visible;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #codevelopment-view__timeline .codevelopment-view__timeline-step > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      overflow: visible;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 20px;
      line-height: 1;
      font-family: 'gotham_htfbold_condensed', arial, sans-serif;
      color: black;
      text-align: center; }
    #codevelopment-view__timeline .codevelopment-view__timeline-step > span {
      text-align: center;
      display: block;
      overflow: visible;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 3;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      text-align: center;
      font-size: 18px;
      line-height: 1.2;
      font-family: 'gotham_htfbold_condensed', arial, sans-serif;
      margin-top: 40px; }

#codevelopment-view__timeline-period-1.codevelopment-view__timeline-step > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 50px;
  -webkit-clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0% 100%, 0% 0%);
  background: white;
  text-transform: uppercase; }

#codevelopment-view__timeline-period-2.codevelopment-view__timeline-step > div {
  width: 130px;
  height: 50px;
  -webkit-clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0% 100%, 12% 50%, 0% 0%);
          clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0% 100%, 12% 50%, 0% 0%);
  background: white; }

#codevelopment-view__timeline-period-3.codevelopment-view__timeline-step > div {
  width: 130px;
  height: 50px;
  -webkit-clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0% 100%, 12% 50%, 0% 0%);
          clip-path: polygon(88% 0, 100% 50%, 88% 100%, 0% 100%, 12% 50%, 0% 0%);
  background: white; }

#codevelopment-view__timeline-result.codevelopment-view__timeline-step {
  top: -22.5px;
  padding: 0 12px; }
  #codevelopment-view__timeline-result.codevelopment-view__timeline-step > div {
    overflow: hidden;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #ffdc00;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background: #333; }
    #codevelopment-view__timeline-result.codevelopment-view__timeline-step > div img {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 50%; }
  #codevelopment-view__timeline-result.codevelopment-view__timeline-step > span:nth-of-type(1) {
    color: #ffdc00;
    margin-top: 30px; }

#codevelopment-view__timeline-final.codevelopment-view__timeline-step > div {
  width: 110px;
  height: 50px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 12% 50%, 0% 0%);
          clip-path: polygon(100% 0, 100% 100%, 0% 100%, 12% 50%, 0% 0%);
  background: white; }

#codevelopment-view__slide2-marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: visible;
  position: absolute;
  top: 205px;
  right: auto;
  bottom: auto;
  left: 520px;
  z-index: 2;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#codevelopment-view__slide2-marks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  pointer-events: none; }

#codevelopment-view__slide2-marks-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  #codevelopment-view__slide2-marks-info .btn.btn-close-overlay {
    pointer-events: auto; }

#codevelopment-view__slide2-marks-grpx {
  overflow: visible;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: 2px dotted #ffdc00;
  border-radius: 50%;
  padding: 10px; }
  #codevelopment-view__slide2-marks-grpx > img {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 234px!important;
    height: 234px!important;
    margin: 6px 0 0 6px;
    -o-object-fit: cover;
       object-fit: cover;
    background: #333;
    border-radius: 50%; }
  #codevelopment-view__slide2-marks-grpx .btn.btn-close-overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
    z-index: 2;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0); }

#codevelopment-view__slide2-marks-desc {
  width: 500px;
  margin-left: 30px; }
  #codevelopment-view__slide2-marks-desc ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0; }
    #codevelopment-view__slide2-marks-desc ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
      margin: 0 0 0 12px;
      padding: 0;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid white;
      color: white;
      font-size: 24px;
      line-height: 1; }
      #codevelopment-view__slide2-marks-desc ul li:first-child {
        margin: 0; }

#codevelopment-view__slide2-marks-line {
  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1px;
  height: 250px;
  margin-left: 125px;
  background: #ffdc00;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom; }

#codevelopment-view__slide2-marks-btn {
  margin: -30px 0 0 125px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0); }
  #codevelopment-view__slide2-marks-btn svg {
    width: 18px;
    height: 18px; }
