/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#color-view .view-overlay {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  #color-view .view-overlay .view-overlay-content {
    width: auto; }
#color-view .view-main *:not(button):not(a) {
  pointer-events: none; }

#color-view__picker-wrapper {
  padding: 3px 10px 3px 10px;
  background: #333; }
  #color-view__picker-wrapper #color-view__picker-grid-container {
    overflow: hidden;
    height: calc(100% - 65px); }
    #color-view__picker-wrapper #color-view__picker-grid-container #color-view__picker-grid {
      display: grid;
      grid-template-columns: 40px 40px 40px 40px 40px;
      grid-auto-rows: 40px;
      grid-gap: 3px;
      padding-bottom: 10px; }

#color-view__customise-label {
  padding: 15px 0;
  font-size: 25px;
  overflow: hidden;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'gotham_htfbook_condensed', arial, sans-serif; }
  @media (min-width: 768px) {
    #color-view__customise-label {
      overflow: hidden;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis; } }
  @media (min-width: 1200px) {
    #color-view__customise-label {
      overflow: hidden;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis; } }

#color-view__customise-colors-btn,
#color-view__standard-colors-btn {
  color: white; }

#color-view__selected-custom-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: absolute;
  top: 70px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto; }
  #color-view__selected-custom-color span {
    line-height: 1;
    text-align: center; }
    #color-view__selected-custom-color span:first-child {
      font-size: 20px; }
    #color-view__selected-custom-color span:last-child {
      font-size: 40px; }

#color-view__shop-cta {
  overflow: hidden;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 60px;
  z-index: 5;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffdc00;
  font-size: 18px;
  text-transform: none; }
  #color-view__shop-cta a {
    color: inherit;
    text-decoration: underline;
    pointer-events: auto; }
