/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#connesso-view.el-show-start .view-bg .view-bg-img::before, #connesso-view.el-show-complete .view-bg .view-bg-img::before {
  opacity: 1;
  -webkit-transition: opacity 0.35s ease 0.15s;
  transition: opacity 0.35s ease 0.15s; }
#connesso-view .view-bg .view-bg-img::before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(67%, #0f2626), color-stop(77%, #0f2626), to(#000000));
  background: linear-gradient(to bottom, #000000 0%, #0f2626 67%, #0f2626 77%, #000000 100%);
  -webkit-transition: opacity 0.6s ease 0.6s;
  transition: opacity 0.6s ease 0.6s;
  will-change: opacity; }
#connesso-view .view-overlay .view-overlay-content {
  background: black; }
  #connesso-view .view-overlay .view-overlay-content .btn {
    overflow: hidden;
    position: absolute;
    top: 60px;
    right: auto;
    bottom: auto;
    left: 50%;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0); }

#connesso-view-overlay__video-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: none;
  min-width: 0;
  height: auto; }
  #connesso-view-overlay__video-wrapper::before {
    display: block;
    content: "";
    padding-top: 56.25%; }
  #connesso-view-overlay__video-wrapper > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%; }
  #connesso-view-overlay__video-wrapper > picture img, #connesso-view-overlay__video-wrapper > img, #connesso-view-overlay__video-wrapper > svg, #connesso-view-overlay__video-wrapper > video {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  #connesso-view-overlay__video-wrapper video {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 1;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  #connesso-view-overlay__video-wrapper div {
    overflow: hidden;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 2;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 5px;
    background: #333; }
    #connesso-view-overlay__video-wrapper div span {
      display: block;
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 2;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 0;
      height: inherit;
      background: #ffdc00; }

#connesso-view__particles-canvases-container {
  overflow: inherit;
  position: inherit;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;
  height: inherit; }
  #connesso-view__particles-canvases-container::after {
    content: "";
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: linear-gradient(135deg, black 20%, rgba(0, 0, 0, 0.62) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 60%); }
  #connesso-view__particles-canvases-container .connesso-view__particles-container {
    overflow: inherit;
    position: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: inherit;
    height: inherit;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#8fc800), color-stop(63%, #8fc800), color-stop(80%, rgba(143, 200, 0, 0)), to(rgba(143, 200, 0, 0)));
    -webkit-mask-image: linear-gradient(to bottom, #8fc800 0%, #8fc800 63%, rgba(143, 200, 0, 0) 80%, rgba(143, 200, 0, 0) 100%);
            mask-image: -webkit-gradient(linear, left top, left bottom, from(#8fc800), color-stop(63%, #8fc800), color-stop(80%, rgba(143, 200, 0, 0)), to(rgba(143, 200, 0, 0)));
            mask-image: linear-gradient(to bottom, #8fc800 0%, #8fc800 63%, rgba(143, 200, 0, 0) 80%, rgba(143, 200, 0, 0) 100%); }
    #connesso-view__particles-canvases-container .connesso-view__particles-container canvas {
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }

#connesso-view__back-particles-container.connesso-view__particles-container {
  -webkit-filter: blur(4px);
          filter: blur(4px); }

#connesso-view__mid-particles-container.connesso-view__particles-container {
  -webkit-filter: blur(2px);
          filter: blur(2px); }

#connesso-view__wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: inherit;
  position: relative;
  top: 30px;
  right: inherit;
  bottom: inherit;
  left: inherit;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;
  height: inherit; }

#connesso-view__wheel-rings {
  display: block;
  overflow: visible;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 190px;
  left: 30px;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1305px;
  height: 79px; }
  #connesso-view__wheel-rings span {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

span#connesso-view__wheel-sm-ring {
  background-image: url("../resources/connesso-view/ring-sm.png"); }

span#connesso-view__wheel-md-ring {
  background-image: url("../resources/connesso-view/ring-md.png"); }

span#connesso-view__wheel-lg-ring {
  background-image: url("../resources/connesso-view/ring-lg.png"); }

#connesso-view__wheel-clone-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 570px;
  height: 570px;
  border-radius: 50%; }
  #connesso-view__wheel-clone-wrapper > div {
    height: 100%; }

#connesso-view__info-text {
  width: 75%;
  margin: -20px; }
