/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
.decision-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 65px;
  overflow: hidden;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .decision-switch[data-val="no"] .decision-switch-dragger::before, .decision-switch[data-val="yes"] .decision-switch-dragger::before {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .decision-switch[data-val="no"] .decision-switch-dragger::after, .decision-switch[data-val="yes"] .decision-switch-dragger::after {
    width: auto;
    height: auto;
    background: none;
    font-family: 'gotham_htfbold_condensed', arial, sans-serif;
    line-height: 1;
    letter-spacing: 1px; }
  .decision-switch[data-val="no"] .decision-switch-dragger::after {
    content: "No"; }
  .decision-switch[data-val="yes"] .decision-switch-dragger::after {
    content: "Yes"; }
  .decision-switch .decision-switch-scrollbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 1;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding: 0 30px;
    background: #333; }
    .decision-switch .decision-switch-scrollbar::before, .decision-switch .decision-switch-scrollbar::after {
      display: block;
      color: white;
      font-size: 26px;
      line-height: 1;
      text-transform: uppercase;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      will-change: color; }
    .decision-switch .decision-switch-scrollbar::before {
      content: "no"; }
    .decision-switch .decision-switch-scrollbar::after {
      content: "yes"; }
  .decision-switch .decision-switch-dragger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 2;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 65px;
    height: 65px;
    border-radius: 50%; }
    .decision-switch .decision-switch-dragger::before {
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 1;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 65px;
      height: 65px;
      background-color: #ffdc00;
      border-radius: 50%;
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.8); }
    .decision-switch .decision-switch-dragger::after {
      content: "";
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 2;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 26px;
      line-height: 1;
      color: black;
      width: 36px;
      height: 14px;
      text-transform: uppercase;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 36px 14px;
      background-image: url("../resources/decision-switch/double-arrow.svg"); }
