/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#design-intro-view .view-bg .view-bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }
#design-intro-view .view-content .view-header {
  overflow: visible; }
  #design-intro-view .view-content .view-header .v-line {
    overflow: visible;
    display: block; }
    #design-intro-view .view-content .view-header .v-line::after {
      content: "";
      display: block;
      overflow: hidden;
      position: absolute;
      top: -100vh;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 2px;
      height: 100vh;
      background: white;
      pointer-events: none; }
