/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#design-view .view-bg {
  background: white; }
#design-view .view-content * {
  color: black; }
#design-view .view-content .view-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
#design-view .view-content .view-header span.v-line {
  background: black; }
#design-view .view-content .view-footer .btn-next span.v-line {
  background: black; }

#design-view__carousel.carousel {
  height: calc(100% - 150px); }
  #design-view__carousel.carousel .flickity-viewport {
    height: 100%; }
    #design-view__carousel.carousel .flickity-viewport .flickity-slider {
      height: 100%; }
      #design-view__carousel.carousel .flickity-viewport .flickity-slider .carousel-cell {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 40px; }
        #design-view__carousel.carousel .flickity-viewport .flickity-slider .carousel-cell p {
          overflow: visible;
          position: absolute;
          top: 0;
          right: auto;
          bottom: auto;
          left: 15%;
          z-index: 2;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          text-transform: none;
          width: 70%; }
        #design-view__carousel.carousel .flickity-viewport .flickity-slider .carousel-cell img {
          overflow: visible;
          position: absolute;
          top: auto;
          right: auto;
          bottom: 0;
          left: 0;
          z-index: 1;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          height: 370px;
          -o-object-fit: contain;
             object-fit: contain; }

#design-view__years-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  position: relative;
  max-width: 80%;
  margin: 0 auto; }
  #design-view__years-slider #design-view__years-slider__cursor {
    overflow: visible;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #design-view__years-slider #design-view__years-slider__cursor #design-view__years-slider__cursor-icon {
      height: 25px;
      width: 25px;
      -webkit-transform: translate3d(-12.5px, -12.5px, 0);
              transform: translate3d(-12.5px, -12.5px, 0);
      background-color: black;
      border-radius: 50%;
      border: 3px solid #ffdc00; }
  #design-view__years-slider ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0; }
    #design-view__years-slider ul li {
      position: relative;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
      #design-view__years-slider ul li.is-selected {
        pointer-events: none; }
        #design-view__years-slider ul li.is-selected .design-view__years-slider-years {
          -webkit-transform: translateX(-50%) scale(1.4);
                  transform: translateX(-50%) scale(1.4); }
      #design-view__years-slider ul li .design-view__years-slider-years {
        overflow: visible;
        position: absolute;
        top: -50px;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        text-align: center;
        -webkit-transform: translateX(-50%) scale(1);
                transform: translateX(-50%) scale(1);
        -webkit-transform-origin: center bottom;
                transform-origin: center bottom;
        white-space: nowrap;
        font-size: 24px;
        line-height: 1;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: -webkit-transform 0.2s ease;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
        will-change: transform; }
      #design-view__years-slider ul li::before {
        content: '';
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transform: translate3d(-25px, -25px, 0);
                transform: translate3d(-25px, -25px, 0);
        height: 50px;
        width: 50px;
        background-color: rgba(255, 255, 0, 0); }
      #design-view__years-slider ul li::after {
        content: '';
        overflow: hidden;
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transform: translate3d(-7.5px, -7.5px, 0);
                transform: translate3d(-7.5px, -7.5px, 0);
        height: 15px;
        width: 15px;
        background-color: #ffdc00;
        border-radius: 50%; }
    #design-view__years-slider ul::before {
      content: '';
      overflow: hidden;
      position: absolute;
      top: calc(50% - 1px);
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 2px;
      width: 100%;
      background-color: #ffdc00; }
