/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
@font-face {
  font-family: 'gotham_htfbold_condensed';
  src: url("../resources/fonts/gothamhtf-boldcondensed-webfont.woff2") format("woff2"), url("../resources/fonts/gothamhtf-boldcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_htfbook_condensed';
  src: url("../resources/fonts/gothamhtf-bookcondensed-webfont.woff2") format("woff2"), url("../resources/fonts/gothamhtf-bookcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_htflight_condensed';
  src: url("../resources/fonts/gothamhtf-lightcondensed-webfont.woff2") format("woff2"), url("../resources/fonts/gothamhtf-lightcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_htfmedium_condensed';
  src: url("../resources/fonts/gothamhtf-mediumcondensed-webfont.woff2") format("woff2"), url("../resources/fonts/gothamhtf-mediumcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink; }
  *::after, *::before {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-text-decoration-skip: inherit;
            text-decoration-skip: inherit;
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

html,
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: black;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body.transition-running::after {
  content: '';
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999999999;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 0, 0, 0); }
