/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#new-user-form label {
  font-size: 20px;
  line-height: 1; }
#new-user-form input,
#new-user-form select {
  font-size: 16px;
  line-height: 1; }
#new-user-form .form-group.form-error input,
#new-user-form .form-group.form-error select {
  border: 1px solid red; }
#new-user-form .form-group.form-error small.form-text.text-muted {
  color: red !important;
  font-size: 14px; }
