/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#pirelli-wheel-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  pointer-events: none; }
  #pirelli-wheel-container #pirelli-wheel,
  #pirelli-wheel-container #pirelli-wheel__border {
    display: none; }
  #pirelli-wheel-container .pirelli-wheel__colors,
  #pirelli-wheel-container .pirelli-wheel__technology {
    display: none; }
  #pirelli-wheel-container.survey-setup-mode, #pirelli-wheel-container.colors-mode, #pirelli-wheel-container.technology-mode {
    display: block; }
    #pirelli-wheel-container.survey-setup-mode #pirelli-wheel, #pirelli-wheel-container.colors-mode #pirelli-wheel, #pirelli-wheel-container.technology-mode #pirelli-wheel {
      display: block; }
  #pirelli-wheel-container.technology-mode .pirelli-wheel__technology {
    display: block; }
  #pirelli-wheel-container.colors-mode #pirelli-wheel__border {
    display: block; }
  #pirelli-wheel-container.colors-mode .pirelli-wheel__colors {
    display: block; }
  #pirelli-wheel-container #pirelli-wheel-grpx__colors-container {
    pointer-events: none; }
  #pirelli-wheel-container #pirelli-wheel-grpx {
    overflow: visible;
    position: absolute;
    top: calc(50% - (285px - 30px));
    right: auto;
    bottom: auto;
    left: calc(50% - 285px);
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 570px;
    height: 570px;
    -webkit-transform-origin: center;
            transform-origin: center; }
  #pirelli-wheel-container #pirelli-wheel #pirelli-wheel-grpx {
    overflow: visible;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  #pirelli-wheel-container #pirelli-wheel {
    overflow: visible;
    position: absolute;
    top: calc(50% - (285px - 30px));
    right: auto;
    bottom: auto;
    left: calc(50% - 285px);
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 570px;
    height: 570px;
    border-radius: 50% 50%;
    pointer-events: auto; }
    #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__cue-point {
      overflow: visible;
      position: absolute;
      top: calc(50% - 32px);
      right: auto;
      bottom: auto;
      left: calc(50% - 32px);
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
      #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__cue-point #dragger-arrows {
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        will-change: opacity; }
      #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__cue-point.dragging #dragger-arrows {
        opacity: 0; }
      #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__cue-point .pirelli-wheel__cue-point__icon {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform-origin: center;
                transform-origin: center; }
    #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__colors .pirelli-wheel__cue-point {
      -webkit-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      -webkit-transform: translateY(-332px);
              transform: translateY(-332px);
      overflow: visible;
      position: absolute;
      top: calc(50% - 30.5px);
      right: auto;
      bottom: auto;
      left: calc(50% - 53px);
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 106px;
      height: 61px; }
      #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__colors .pirelli-wheel__cue-point .pirelli-wheel__cue-point__icon text {
        visibility: hidden; }
      #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__colors .pirelli-wheel__cue-point .pirelli-wheel__cue-point__icon::after {
        content: '';
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 6px);
        font-size: 30px;
        line-height: 1; }
    #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__technology .pirelli-wheel__cue-point-container {
      height: 285px;
      width: 64px;
      position: absolute;
      top: 50%;
      left: calc(50% - 32px);
      -webkit-transform-origin: center top;
              transform-origin: center top;
      z-index: 1; }
      #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__technology .pirelli-wheel__cue-point-container .pirelli-wheel__cue-point {
        top: auto;
        bottom: -32px; }
        #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__technology .pirelli-wheel__cue-point-container .pirelli-wheel__cue-point .pirelli-wheel__cue-point__icon {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          will-change: transform; }
          #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__technology .pirelli-wheel__cue-point-container .pirelli-wheel__cue-point .pirelli-wheel__cue-point__icon svg {
            width: 18px;
            height: 18px; }
        #pirelli-wheel-container #pirelli-wheel .pirelli-wheel__technology .pirelli-wheel__cue-point-container .pirelli-wheel__cue-point .pirelli-wheel__cue-point__bg {
          overflow: hidden;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: auto;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          border-radius: 50%;
          background-color: #ffdc00;
          -webkit-transform: scale3d(0.75, 0.75, 1);
                  transform: scale3d(0.75, 0.75, 1);
          -webkit-transition: background-color 600ms ease-out, -webkit-transform 600ms ease;
          transition: background-color 600ms ease-out, -webkit-transform 600ms ease;
          transition: background-color 600ms ease-out, transform 600ms ease;
          transition: background-color 600ms ease-out, transform 600ms ease, -webkit-transform 600ms ease;
          will-change: transform, background-color; }
  #pirelli-wheel-container #pirelli-wheel__border {
    position: absolute;
    top: calc(50% - (332px - 30px));
    left: calc(50% - 332px);
    width: 664px;
    height: 664px;
    border-radius: 50% 50%; }
  #pirelli-wheel-container .pirelli-wheel__border-trigger {
    position: absolute;
    border-radius: 50%; }
  #pirelli-wheel-container .pirelli-wheel__technology .pirelli-wheel__border-trigger {
    width: 64px;
    height: 64px;
    left: calc(50% - 32px);
    bottom: -32px; }
    #pirelli-wheel-container .pirelli-wheel__technology .pirelli-wheel__border-trigger svg {
      width: 100%; }
  #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    pointer-events: auto;
    /*z-index: 1;*/ }
    #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger:nth-child(1) {
      background-color: #FFCD00; }
    #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger:nth-child(2) {
      background-color: #FF8038; }
    #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger:nth-child(3) {
      background-color: #D22630; }
    #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger:nth-child(4) {
      background-color: #4DAA50; }
    #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger:nth-child(5) {
      background-color: #00A3E1; }
    #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger:nth-child(6) {
      background-color: #97999B; }
    #pirelli-wheel-container .pirelli-wheel__colors .pirelli-wheel__border-trigger:nth-child(7) {
      background-color: #E6E7E2; }

#pirelli-wheel-pzero-default {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

#pirelli-wheel-pzero-customizable {
  overflow: hidden;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center; }
  #pirelli-wheel-pzero-customizable img {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

#pirelli-wheel-pzero-logo {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  z-index: 3;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  border-radius: 50%; }

#pirelli-wheel__bg {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../resources/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  will-change: opacity; }

#dragger-fill,
#pirelli-wheel-pzero-customizable svg path {
  fill: #ffdc00;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
  will-change: fill; }

.dragger-border {
  stroke: #ffdc00;
  -webkit-transition: stroke 0.3s ease-in-out;
  transition: stroke 0.3s ease-in-out;
  will-change: stroke; }
