/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#pzero-view .view-bg .view-bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../resources/pzero-view/bg.jpg"); }

#pzero-view__logo {
  width: 100%;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../resources/pzero-view/pzero-logo.png"); }

#pzero-view-bg-overlay__flashes-container.view-bg-overlay img {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

#pzero-view-bg-overlay__wheel.view-bg-overlay {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../resources/pzero-view/wheel.png"); }
