/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#registered-user-modal:not(.experience-done) .alert.alert-danger {
  display: none; }
#registered-user-modal .modal-content {
  border: none;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }
  #registered-user-modal .modal-content .alert.alert-danger {
    border: none;
    background: red;
    color: white;
    margin-top: 40px; }
    #registered-user-modal .modal-content .alert.alert-danger h2,
    #registered-user-modal .modal-content .alert.alert-danger h3,
    #registered-user-modal .modal-content .alert.alert-danger h5 {
      color: white; }

#registered-user-modal__username {
  text-transform: capitalize; }
