/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#services-view .view-content .services__service-card {
  display: block;
  position: relative;
  width: 100%;
  max-width: none;
  min-width: 0;
  height: auto;
  margin-bottom: 40px;
  -webkit-perspective: 800;
          perspective: 800;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
  will-change: transform; }
  #services-view .view-content .services__service-card::before {
    display: block;
    content: "";
    padding-top: 100%; }
  #services-view .view-content .services__service-card > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%; }
  #services-view .view-content .services__service-card > picture img, #services-view .view-content .services__service-card > img, #services-view .view-content .services__service-card > svg, #services-view .view-content .services__service-card > video {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  #services-view .view-content .services__service-card.flipped {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  #services-view .view-content .services__service-card .services__service-card-front,
  #services-view .view-content .services__service-card .services__service-card-back {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  #services-view .view-content .services__service-card .services__service-card-front {
    z-index: 2;
    background: #333; }
  #services-view .view-content .services__service-card .services__service-card-back {
    padding: 22px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background: #ffdc00; }
    #services-view .view-content .services__service-card .services__service-card-back h2 {
      margin-bottom: 15px; }
    #services-view .view-content .services__service-card .services__service-card-back p {
      font-size: 28px; }
    #services-view .view-content .services__service-card .services__service-card-back * {
      color: black; }
