/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#technology-view .view-content .view-header {
  overflow: visible; }
  #technology-view .view-content .view-header .v-line {
    overflow: visible;
    display: block; }
    #technology-view .view-content .view-header .v-line::after {
      content: "";
      display: block;
      overflow: hidden;
      position: absolute;
      top: -100vh;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 2px;
      height: 100vh;
      background: white;
      pointer-events: none; }

#technology-view-table-overlay.view-overlay .view-overlay-content {
  background-color: black; }
  #technology-view-table-overlay.view-overlay .view-overlay-content .carousel {
    height: calc(100% - 60px);
    background-color: black;
    background: white; }
    #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-viewport {
      height: 100%; }
      #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-viewport .flickity-slider {
        height: 100%; }
        #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-viewport .flickity-slider .carousel-cell {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: stretch;
              -ms-flex-align: stretch;
                  align-items: stretch;
          overflow: hidden;
          position: relative;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          z-index: auto;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          height: 100%; }
          #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-viewport .flickity-slider .carousel-cell img {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: auto;
            bottom: auto;
            left: 0;
            z-index: auto;
            visibility: inherit;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            height: 100%;
            background-size: contain; }
    #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-page-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 50px;
      left: 50%;
      z-index: 2;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: auto;
      height: 3px;
      padding: 0;
      line-height: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0); }
      #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-page-dots .dot {
        border-radius: 0;
        background-color: black;
        width: 35px;
        height: 3px;
        padding: 0;
        margin: 0 0 0 7px;
        padding: 0;
        line-height: 0;
        opacity: 0.3;
        -webkit-transition: opacity 0.2s ease, width 0.2s ease;
        transition: opacity 0.2s ease, width 0.2s ease;
        will-change: opacity, width; }
        #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-page-dots .dot:first-child {
          margin: 0; }
        #technology-view-table-overlay.view-overlay .view-overlay-content .carousel .flickity-page-dots .dot.is-selected {
          opacity: 1;
          width: 50px; }
  #technology-view-table-overlay.view-overlay .view-overlay-content footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 60px; }

#technology-view-carousel-overlay.view-overlay {
  overflow-y: visible;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  #technology-view-carousel-overlay.view-overlay .view-overlay-content {
    overflow: visible;
    height: 320px;
    background: #333;
    padding-top: 50px; }
    #technology-view-carousel-overlay.view-overlay .view-overlay-content .technology-view-carousel-overlay__tab {
      /*display: none;*/
      width: 100%;
      height: 100%; }

#technology-view-carousel-overlay__close-btn {
  overflow: hidden;
  position: absolute;
  top: -25px;
  right: auto;
  bottom: auto;
  left: calc(50% - 25px);
  z-index: 2;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 12px black;
          box-shadow: 0 4px 12px black; }

.technology-view-carousel-overlay__tab .carousel {
  height: 100%; }
  .technology-view-carousel-overlay__tab .carousel .flickity-viewport {
    height: 100%; }
    .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider {
      height: 100%; }
      .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider .carousel-cell {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        overflow: hidden;
        position: relative;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        height: 100%; }
        .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider .carousel-cell.no-info > .carousel-cell-desc {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%; }
          .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider .carousel-cell.no-info > .carousel-cell-desc p {
            text-align: center;
            color: #ffdc00; }
        .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider .carousel-cell > .carousel-cell-img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: stretch;
              -ms-flex-align: stretch;
                  align-items: stretch;
          overflow: hidden;
          position: relative;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          z-index: auto;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 50%;
          height: 100%; }
          .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider .carousel-cell > .carousel-cell-img img {
            display: block;
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
               object-fit: contain;
            -o-object-position: left bottom;
               object-position: left bottom; }
        .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider .carousel-cell > .carousel-cell-desc {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          overflow: hidden;
          position: relative;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          z-index: auto;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 0 60px 30px 0;
          width: 50%;
          height: 100%; }
          .technology-view-carousel-overlay__tab .carousel .flickity-viewport .flickity-slider .carousel-cell > .carousel-cell-desc img {
            display: block;
            width: 190px;
            height: 50px;
            -o-object-fit: contain;
               object-fit: contain;
            -o-object-position: left center;
               object-position: left center;
            margin-bottom: 15px; }
  .technology-view-carousel-overlay__tab .carousel .flickity-page-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 28px;
    left: 50%;
    z-index: 2;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: 3px;
    padding: 0;
    line-height: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0); }
    .technology-view-carousel-overlay__tab .carousel .flickity-page-dots .dot {
      border-radius: 0;
      background-color: white;
      width: 35px;
      height: 3px;
      padding: 0;
      margin: 0 0 0 7px;
      padding: 0;
      line-height: 0;
      opacity: 0.3;
      -webkit-transition: opacity 0.2s ease, width 0.2s ease;
      transition: opacity 0.2s ease, width 0.2s ease;
      will-change: opacity, width; }
      .technology-view-carousel-overlay__tab .carousel .flickity-page-dots .dot:first-child {
        margin: 0; }
      .technology-view-carousel-overlay__tab .carousel .flickity-page-dots .dot.is-selected {
        opacity: 1;
        width: 50px; }

#technology-view__table-btn {
  overflow: hidden;
  position: absolute;
  top: 47.5%;
  right: auto;
  bottom: auto;
  left: 80%;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(0, -50%, 0);
          transform: translate(0, -50%, 0); }

#technology-view-table-overlay__close-btn {
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0); }
