/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#thankyou-view .view-content .view-header {
  overflow: visible; }
  #thankyou-view .view-content .view-header .v-line {
    overflow: visible;
    display: block; }
    #thankyou-view .view-content .view-header .v-line::after {
      content: "";
      display: block;
      overflow: hidden;
      position: absolute;
      top: -100vh;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 2px;
      height: 100vh;
      background: white;
      pointer-events: none; }
#thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top {
  display: block;
  display: block;
  position: relative;
  width: 100%;
  max-width: none;
  min-width: 0;
  height: auto;
  margin-bottom: 20px;
  -webkit-mask-image: none;
          mask-image: none; }
  #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top::before {
    display: block;
    content: "";
    padding-top: 75%; }
  #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%; }
  #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top > picture img, #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top > img, #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top > svg, #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top > video {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top .thankyou-view__product-wheel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: absolute;
    top: calc(50% - 90px);
    right: auto;
    bottom: auto;
    left: calc(50% - 90px);
    z-index: auto;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 180px;
    height: 180px;
    background: transparent; }
    #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top .thankyou-view__product-wheel.brand-logo {
      background-size: 0;
      background-position: left top;
      background-repeat: no-repeat; }
      #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top .thankyou-view__product-wheel.brand-logo::after {
        display: block;
        content: "";
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 26px 26px;
        background-image: inherit; }
    #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top .thankyou-view__product-wheel img,
    #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top .thankyou-view__product-wheel svg {
      width: 100%;
      height: 100%; }
    #thankyou-view .view-content .view-main .thankyou-view__product-card .card-img-top .thankyou-view__product-wheel img {
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: center;
         object-position: center; }
#thankyou-view .view-content .view-main .thankyou-view__survey-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #thankyou-view .view-content .view-main .thankyou-view__survey-plus:not(.is-selected) {
    display: none; }
  #thankyou-view .view-content .view-main .thankyou-view__survey-plus::after {
    content: "+";
    font-size: 72px;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis; }
    @media (min-width: 768px) {
      #thankyou-view .view-content .view-main .thankyou-view__survey-plus::after {
        overflow: hidden;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis; } }
    @media (min-width: 1200px) {
      #thankyou-view .view-content .view-main .thankyou-view__survey-plus::after {
        overflow: hidden;
        line-height: 1;
        white-space: nowrap;
        text-overflow: ellipsis; } }
#thankyou-view .view-content .view-main .thankyou-view__main-view-title {
  margin: 40px 0 24px 0;
  color: #ffdc00; }
#thankyou-view .view-content .view-footer {
  padding-bottom: 40px; }
  #thankyou-view .view-content .view-footer img {
    width: 190px;
    height: 60px;
    background-size: contain; }

#thankyou-view__connesso-col .card.thankyou-view__product-card .card-img-top {
  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-mask-image: radial-gradient(ellipse at center, #32fc3c 18%, #32fc3c 32%, rgba(50, 252, 60, 0) 74%, rgba(50, 252, 60, 0) 100%);
          mask-image: radial-gradient(ellipse at center, #32fc3c 18%, #32fc3c 32%, rgba(50, 252, 60, 0) 74%, rgba(50, 252, 60, 0) 100%); }

.customize-colors-wheel::before {
  content: '';
  overflow: hidden;
  position: absolute;
  top: 1px;
  right: auto;
  bottom: auto;
  left: 1px;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 178px;
  height: 178px;
  border-width: 16px;
  border-style: solid;
  border-radius: 50%;
  border-color: inherit; }
.customize-colors-wheel img {
  position: relative;
  z-index: 1; }

#thankyou-view__connesso-wheel.thankyou-view__product-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#thankyou-view__connesso-particles-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%; }

#thankyou-view__connesso-slow-particles-wrapper {
  -webkit-filter: blur(4px);
          filter: blur(4px); }

#thankyou-view__products-row:not(.is-selected),
#thankyou-view__pzero-color-col:not(.is-selected),
#thankyou-view__connesso-col:not(.is-selected),
#thankyou-view__pzero-trofeo-col:not(.is-selected),
#thankyou-view__services-row:not(.is-selected),
#thankyou-view__premium-service-col:not(.is-selected),
#thankyou-view__home-service-col:not(.is-selected),
#thankyou-view__smart-service-col:not(.is-selected),
#thankyou-view__no-choice-row:not(.is-selected) {
  display: none; }

#thankyou-view__no-choice-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -60px; }
  #thankyou-view__no-choice-row img {
    width: 100%;
    height: 600px;
    -o-object-fit: contain;
       object-fit: contain; }
  #thankyou-view__no-choice-row h3 {
    margin-top: -15px;
    color: #ffdc00;
    text-shadow: 0 0 20px black; }
    #thankyou-view__no-choice-row h3 a {
      color: #ffdc00 !important;
      text-decoration: underline; }
