/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#tyres-range-view .view-content .view-header * {
  color: black; }
#tyres-range-view .view-content .view-header span.v-line {
  background: black; }
#tyres-range-view .view-content .view-main {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%; }
  #tyres-range-view .view-content .view-main .carousel {
    height: 100%;
    width: 100%; }
    #tyres-range-view .view-content .view-main .carousel .flickity-viewport {
      height: 100%; }
      #tyres-range-view .view-content .view-main .carousel .flickity-viewport .flickity-slider {
        height: 100%; }
        #tyres-range-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          overflow: hidden;
          position: relative;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          z-index: auto;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: 100%;
          height: 100%; }
          #tyres-range-view .view-content .view-main .carousel .flickity-viewport .flickity-slider .carousel-cell img {
            display: block;
            width: inherit;
            height: inherit;
            -o-object-fit: cover;
               object-fit: cover; }
    #tyres-range-view .view-content .view-main .carousel .flickity-page-dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 4px;
      padding: 0;
      width: 100%;
      overflow: hidden;
      position: absolute;
      top: 140px;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      pointer-events: none; }
      #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot {
        width: 60px;
        height: 2px;
        pointer-events: auto;
        background: black;
        opacity: 1;
        padding: 0;
        margin: 0 0 0 10px;
        border-radius: 0;
        -webkit-transition: background 0.2s ease, -webkit-transform 0.2s ease;
        transition: background 0.2s ease, -webkit-transform 0.2s ease;
        transition: background 0.2s ease, transform 0.2s ease;
        transition: background 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
        will-change: background, transform;
        -webkit-transform-origin: center bottom;
                transform-origin: center bottom; }
        #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot:first-child {
          margin: 0; }
        #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot.is-selected {
          pointer-events: none;
          -webkit-transform: scaleY(2);
                  transform: scaleY(2);
          background: #ffdc00; }
        html[data-prestige="true"] #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 50px;
          height: 50px;
          border-bottom: 2px solid black;
          background: transparent;
          font-size: 24px;
          line-height: 1;
          -webkit-transition: border 0.2s ease;
          transition: border 0.2s ease;
          will-change: border; }
          html[data-prestige="true"] #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot::before {
            display: block;
            content: "";
            width: 30px;
            height: 30px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: 10px;
            opacity: 0.3;
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
            -webkit-transition: opacity 0.8s ease;
            transition: opacity 0.8s ease;
            will-change: transform, opacity;
            -webkit-transform-origin: center;
                    transform-origin: center; }
          html[data-prestige="true"] #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot:nth-of-type(1)::before {
            background-image: url("../resources/tyres-range-view/sun.svg"); }
          html[data-prestige="true"] #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot:nth-of-type(2)::before {
            background-image: url("../resources/tyres-range-view/snow.svg"); }
          html[data-prestige="true"] #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot.is-selected {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1);
            color: black;
            border-bottom: 4px solid #ffdc00; }
            html[data-prestige="true"] #tyres-range-view .view-content .view-main .carousel .flickity-page-dots .dot.is-selected::before {
              opacity: 1;
              -webkit-transform: rotate(360deg);
                      transform: rotate(360deg);
              -webkit-transition: opacity 1s ease, -webkit-transform 2.2s ease-in-out;
              transition: opacity 1s ease, -webkit-transform 2.2s ease-in-out;
              transition: transform 2.2s ease-in-out, opacity 1s ease;
              transition: transform 2.2s ease-in-out, opacity 1s ease, -webkit-transform 2.2s ease-in-out; }

#tyres-range-view__carousel-overlay {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: black; }
