/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#users-list-view .view-content .view-header > div {
  width: 100%; }
#users-list-view .view-content .view-main {
  background: #333;
  height: calc(100vh - (64px * 2)); }
  #users-list-view .view-content .view-main .list-group {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    padding-bottom: 100px;
    border-radius: 0 !important; }
    #users-list-view .view-content .view-main .list-group .list-group-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      height: auto;
      max-height: none;
      padding: 40px 30px;
      border-radius: 0 !important;
      line-height: 1; }
      #users-list-view .view-content .view-main .list-group .list-group-item.experience-done span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      #users-list-view .view-content .view-main .list-group .list-group-item span {
        display: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 12px;
        border: 2px solid green;
        width: 24px;
        height: 24px;
        color: green;
        border-radius: 50%; }
        #users-list-view .view-content .view-main .list-group .list-group-item span::before {
          font-family: Arial;
          content: "\2714";
          text-transform: none;
          text-align: center;
          line-height: 1;
          color: green; }
      #users-list-view .view-content .view-main .list-group .list-group-item h3 {
        display: inline-block;
        color: black;
        line-height: 1;
        margin: 0;
        margin-right: 40px; }
      #users-list-view .view-content .view-main .list-group .list-group-item p {
        display: inline-block;
        color: #585858;
        font-size: 18px;
        line-height: 1;
        margin-top: 10px; }

#update-users-btn.btn-danger::after {
  content: "(Off-line)";
  font-size: 0.6em;
  margin-left: 7px; }

#list-not-available-message {
  text-align: center;
  padding: 0 5%; }
