/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#sections-wrapper {
  overflow: hidden;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.view {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  color: white;
  text-transform: uppercase; }
  .view .view-bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 1;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%; }
    .view .view-bg .view-bg-img {
      display: block;
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 1;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 100%; }
      .view .view-bg .view-bg-img .view-bg-overlay {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: 2;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        height: 100%; }
  .view .view-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 2;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: inherit;
    height: inherit; }
    .view .view-content span.v-line {
      display: block;
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 2px;
      height: 24px;
      background: white; }
    .view .view-content .view-header *,
    .view .view-content .view-main *,
    .view .view-content .view-footer * {
      pointer-events: auto; }
      .view .view-content .view-header *:disabled, .view .view-content .view-header *.disabled,
      .view .view-content .view-main *:disabled,
      .view .view-content .view-main *.disabled,
      .view .view-content .view-footer *:disabled,
      .view .view-content .view-footer *.disabled {
        pointer-events: none; }
        .view .view-content .view-header *:disabled *, .view .view-content .view-header *.disabled *,
        .view .view-content .view-main *:disabled *,
        .view .view-content .view-main *.disabled *,
        .view .view-content .view-footer *:disabled *,
        .view .view-content .view-footer *.disabled * {
          pointer-events: none; }
    .view .view-content .view-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 2;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .view .view-content .view-header h1,
      .view .view-content .view-header h2,
      .view .view-content .view-header h3 {
        text-align: center;
        line-height: 1; }
        .view .view-content .view-header h1 + h1, .view .view-content .view-header h1 + h2, .view .view-content .view-header h1 + h3,
        .view .view-content .view-header h2 + h1,
        .view .view-content .view-header h2 + h2,
        .view .view-content .view-header h2 + h3,
        .view .view-content .view-header h3 + h1,
        .view .view-content .view-header h3 + h2,
        .view .view-content .view-header h3 + h3 {
          margin-top: -4px; }
        .view .view-content .view-header h1 span,
        .view .view-content .view-header h2 span,
        .view .view-content .view-header h3 span {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit; }
      .view .view-content .view-header span.v-line {
        margin-bottom: 12px; }
    .view .view-content .view-main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 1;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
    .view .view-content .view-footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow: visible;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: 2;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .view .view-content .view-footer .btn-next {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
        text-decoration: none !important;
        color: white;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-size: 32px;
        -webkit-appearance: none;
        font-family: 'gotham_htfmedium_condensed', arial, sans-serif;
        -webkit-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
        will-change: opacity;
        overflow: visible;
        position: relative;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: auto;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .view .view-content .view-footer .btn-next::after {
          display: block;
          content: "";
          overflow: visible;
          position: absolute;
          top: -20px;
          right: auto;
          bottom: auto;
          left: -30px;
          z-index: 2;
          visibility: inherit;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          width: calc(100% + 60px);
          height: calc(100% + 20px);
          background: #ff00ff;
          opacity: 0; }
        .view .view-content .view-footer .btn-next h3 {
          line-height: 1;
          font-size: 32px;
          -webkit-appearance: none;
          font-family: 'gotham_htfmedium_condensed', arial, sans-serif; }
        .view .view-content .view-footer .btn-next span.v-line {
          margin-top: 12px; }
      .view .view-content .view-footer .overlay {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        z-index: 2;
        visibility: inherit;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
  .view .view-overlay {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 3;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none; }
    .view .view-overlay.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .view .view-overlay .view-overlay-backdrop {
      pointer-events: auto;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5); }
    .view .view-overlay .view-overlay-content {
      pointer-events: auto;
      overflow: hidden;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      z-index: auto;
      visibility: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 100%; }
  .view p,
  .view div,
  .view footer,
  .view header,
  .view main,
  .view h1,
  .view h2,
  .view h3,
  .view h4,
  .view h5,
  .view h6 {
    color: white; }
