/*-------------------------------------*/
/* --- INPUT PLACEHOLDER ------------ */
/*-----------------------------------*/
/* -------------------------------------- */
/* --- FONT FAMILIES MIXINS ------------ */
/* ------------------------------------ */
/*-------------------------------------*/
/* --- MONOROW TEXT ----------------- */
/*-----------------------------------*/
/* --- end MONOROW TEXT --- */
/*--------------------------------*/
/* --- TEXTS MIXINS ------------ */
/*------------------------------*/
/* --- end FONT FAMILIES MIXINS --- */
/*---------------------------------------*/
/* --- TEXT SELECTION ----------------- */
/*-------------------------------------*/
/* --- end TEXT SELECTION --- */
/*-------------------------------------*/
/* --- ELEMENT INNER SCROLL ----------------- */
/*-----------------------------------*/
/* ---end INNER SCROLL --- */
/*-------------------------------------*/
/* --- VISUAL SETUP ----------------- */
/*-----------------------------------*/
/* ---end VISUAL SETUP --- */
#welcome-view .view-bg {
  background-color: transparent; }
#welcome-view .view-content .view-header img {
  margin-top: 40px;
  width: 190px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain; }

#welcome-view__brand-logo {
  display: block;
  width: 100%;
  height: 270px;
  margin: 110px 0 60px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent; }

#welcome-view__view-bg-gradient.view-bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../resources/bg.png"); }

#welcome-view__view-bg-grpx.view-bg-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50%;
  background-image: url("../resources/welcome-view/top-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom; }

#thankyou-view__connesso-fast-particles-wrapper {
  overflow: hidden;
  position: relative;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: auto;
  visibility: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #thankyou-view__connesso-fast-particles-wrapper::after {
    content: "";
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    visibility: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url("../resources/thankyou-view/products/bg-gradient.png");
    background-size: 100% 100%; }
